@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply font-bold;
  }

  h5 {
    @apply text-xs font-bold text-neutral-400 uppercase;
  }
}

@layer components {
  .skeleton {
    @apply animate-pulse rounded-full bg-neutral-700;
  }

  .divider {
    @apply border-b border-neutral-700/70 pb-3 group-last:border-none group-last:pb-0;
  }

  .icon {
    @apply flex aspect-square h-10 w-10 items-center justify-center rounded-xl bg-neutral-700 p-2;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
